:root{
    // --malibu-50: #eef8ff;
    // --malibu-100: #daefff;
    // --malibu-200: #bde4ff;
    // --malibu-300: #90d3ff;
    // --malibu-400: #6cc1ff;
    // --malibu-500: #359bfc;
    // --malibu-600: #1f7cf1;
    // --malibu-700: #1765de;
    // --malibu-800: #1952b4;
    // --malibu-900: #1a478e;
    // --malibu-950: #152c56;

    // --mountain-50: #ecfdf3;
    // --mountain-100: #d1fae1;
    // --mountain-200: #a7f3c9;
    // --mountain-300: #6ee7ac;
    // --mountain-400: #34d38b;
    // --mountain-500: #0fa968;
    // --mountain-600: #05965c;
    // --mountain-700: #04784c;
    // --mountain-800: #065f3e;
    // --mountain-900: #064e34;
    // --mountain-950: #022c1e;

    // --pink-50: #fdf3f4;
    // --pink-100: #fbe8eb;
    // --pink-200: #f6d5da;
    // --pink-300: #ea9daa;
    // --pink-400: #e58799;
    // --pink-500: #d75c77;
    // --pink-600: #c13d60;
    // --pink-700: #a22e4f;
    // --pink-800: #882947;
    // --pink-900: #752642;
    // --pink-950: #411020;


    // --wedgewood-50: #f2f9f9;
    // --wedgewood-100: #ddeff0;
    // --wedgewood-200: #bfe0e2;
    // --wedgewood-300: #92cace;
    // --wedgewood-400: #5faab1;
    // --wedgewood-500: #438e96;
    // --wedgewood-600: #3b757f;
    // --wedgewood-700: #356169;
    // --wedgewood-800: #325158;
    // --wedgewood-900: #2d464c;
    // --wedgewood-950: #1a2c32;

    // --waikawa-50: #f5f6fa;
    // --waikawa-100: #eaebf4;
    // --waikawa-200: #d0d4e7;
    // --waikawa-300: #a6b0d3;
    // --waikawa-400: #7686ba;
    // --waikawa-500: #6374ae;
    // --waikawa-600: #414f88;
    // --waikawa-700: #36406e;
    // --waikawa-800: #30395c;
    // --waikawa-900: #2c324e;
    // --waikawa-950: #1d2034;

    // --red-50: #fef2f2;
    // --red-100: #fee2e2;
    // --red-200: #fecaca;
    // --red-300: #fca5a5;
    // --red-400: #f87171;
    // --red-500: #ef4444;
    // --red-600: #dc2626;
    // --red-700: #b91c1c;
    // --red-800: #991b1b;
    // --red-900: #7f1d1d;
    // --red-950: #450a0a;

    // --gray-50: #f9fafb;
    // --gray-100: #f3f4f6;
    // --gray-200: #e5e7eb;
    // --gray-300: #d1d5db;
    // --gray-400: #9ca3af;
    // --gray-500: #6b7280;
    // --gray-600: #4b5563;
    // --gray-700: #374151;
    // --gray-800: #1f2937;
    // --gray-900: #111827;
    // --gray-950: #030712;

    --white: #ffffff;
    --balck: #000000;

    --primary: var(--gray-50);
    --secondary: var(--gray-100);
    --tertiary: var(--gray-200);
    --quaternary: var(--gray-300);
    --quinary: var(--gray-400);
    --senary: var(--gray-500);
    --septenary: var(--gray-600);
    --octonary: var(--gray-700);
    --nonary: var(--gray-800);
    --denary: var(--gray-900);
    --onenary: var(--gray-950);
    // --elevenary: var(--gray-100);

    --color-50:  var(--gray-50);
    --color-100: var(--gray-100);
    --color-200: var(--gray-200);
    --color-300: var(--gray-300);
    --color-400: var(--gray-400);
    --color-500: var(--gray-500);
    --color-600: var(--gray-600);
    --color-700: var(--gray-700);
    --color-800: var(--gray-800);
    --color-900: var(--gray-900);
    --color-950: var(--gray-950);
}