<footer>
    <div class="derechos">
        <p>
            <i class="fa-regular fa-copyright"></i> Derechos Reservados John Rueda
        </p>
    </div>
    <div>
        <app-redes-sociales></app-redes-sociales>
    </div>
    <div style="color:var(--white)">
        <p>
            John Alvaro Rueda Forero
            <br>
            Cel: 3022867851
            <br>
            Correo: johnruedaf@gmail.com
            <!-- <br>
            linkedin: https://www.linkedin.com/in/johnruedaforero/ -->
        </p>
    </div>
    

</footer>