footer{
    background: var( --color-200);
    // background: linear-gradient(45deg, var(--color-700), var( --color-300));
    background: linear-gradient(45deg, var( --color-300), var(--color-700));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 30px;
}

.derechos{
    display: flex;
    align-items: center;
    p{
        color: var(--black);
    }
}

.derechos p{
    margin: 0;
}