<div class="content-1">
  <div class="presentation">
    <div class="sup">
      <h1>
        ¡Hola! Soy John Rueda
        <div class="inf">
          Desarrollador
          <span #typed class="typed-cursor"></span>
        </div>
      </h1>
    </div>
    <div class="download">
      <!-- <button>trest</button> -->
      <app-download-button></app-download-button>
    </div>
  </div>
  <div class="photo">
    <div class="card">
      <div class="perfil">
        <img src="../../../../assets/images/jpg/perfil.jpg" alt="">
        <!-- <h4>John Alvaro Rueda Forero</h4>
        <h4>CC 1.030.620.418</h4>
        <h4></h4>
        <h4>johnruedaf@gmail.com</h4> -->
        <span>
          <p>
            <!-- John Alvaro Rueda Forero <br> -->
            <!-- CC 1.030.620.418 <br> -->
            Cel: +57 302 2867851 <br>
            johnruedaf@gmail.com
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="content-2">

  <div class="header">
    <h1>
      Sobre Mi
    </h1>
  </div>

  <div class="content">
    <p>
      Soy estudiante de octavo semestre en Ingeniería Electrónica en la Universidad ECCI y un apasionado desarrollador
      Full Stack. Mi logro más destacado incluye el primer lugar en el NASA Human Exploration Rover Challenge 2020 y
      proyectos STEM.
      <br>
      <br>
      Impulsado por la innovación, me especializo en proponer soluciones creativas en programación e ingeniería
      electrónica, utilizando metodologías ágiles y SCRUM. Mis habilidades abarcan Python, Visual.NET, C#, Vue y más. He
      participado en el desarrollo de aplicaciones web y móviles, con experiencia en backend y frontend. Además,
      presenté en la IEEE Global Humanitarian Technology Conference una Smartband que monitorea signos vitales de
      pacientes con SARS COV-2, demostrando mi compromiso con soluciones de impacto.
      <br>
      <br>
      Estoy ansioso por aportar mi entusiasmo y habilidades en entornos desafiantes, impulsando la innovación y el
      aprendizaje constante.
    </p>
  </div>
</div>

<div class="content-3">
  <app-habilidades></app-habilidades>
</div>