<div class="content-1">
  <div class="presentation">
    <div class="sup">
      <h1>
        ¡Hola! Soy John Rueda
        <div class="inf">
          Desarrollador
          <span #typed class="typed-cursor"></span>
        </div>
      </h1>
    </div>
    <div class="download">
      <!-- <button>trest</button> -->
      <app-download-button></app-download-button>
    </div>
  </div>
  <div class="photo">
    <div class="card">
      <div class="perfil">
        <img src="../../../../assets/images/jpg/perfil.jpg" alt="">
        <!-- <h4>John Alvaro Rueda Forero</h4>
        <h4>CC 1.030.620.418</h4>
        <h4></h4>
        <h4>johnruedaf@gmail.com</h4> -->
        <span>
          <p>
            <!-- John Alvaro Rueda Forero <br> -->
            <!-- CC 1.030.620.418 <br> -->
            Cel: +57 302 2867851 <br>
            johnruedaf@gmail.com
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="content-2">
  
  <div class="header">
    <h1>
      Sobre Mi
    </h1>
  </div>

  <div class="content">
    <p>Desarrollador Full Stack y primer lugar en NASAHuman Exploration Rover Challenge2020 yproyectos STEM.
      <br>
      Determinado y capaz de proponer nuevas ideasen el campo de la programación y la ingenieríaelectrónica basado en metodologías ágiles ySCRUM.</p>
  </div>
</div>

<div class="content-3">

</div>