<nav>
    <div>
        <u>
            <a href="https://www.linkedin.com/in/johnruedaforero/" target="_blank">
                <i class="bi bi-linkedin"></i>
            </a>
        </u>
    </div>
    <div>
        <u>
            <a href="https://github.com/Risgan" target="_blank">
                <i class="bi bi-github"></i>
            </a>
        </u>
    </div>
    <div>
        <u>
            <a href="https://portafolio-eight-delta.vercel.app/ " target="_blank">
                <i class="bi bi-globe"></i>
            </a>
        </u>
    </div>
</nav>