
nav:after, nav:before{
 box-sizing: border-box;
}

nav{
    line-height: 1.5;
    // min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

a{
    // color: inherit;
    color: var(--color-950);
    text-decoration: none;
    transition: 0.25s ease;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
    height: 1vh;
}

ul:hover a{
    color: var(--color-50);
}

ul:hover a:hover{
    color: var(--color-900);
    box-shadow: 0 2px 0 0 currentColor;
}