<!-- <nav>
    <u>
        <a (click)="redirect('proyectos')">Inicio</a>
    </u>
    <u>
        <a (click)="redirect('proyectos')">Proyectos</a>
    </u>
    <u>
        <a (click)="redirect('proyectos')">Experiencia</a>
    </u>
    <u>
        <a (click)="redirect('proyectos')">Educación</a>
    </u>
    <u>
        <a (click)="redirect('proyectos')">Habilidades</a>
    </u>
    <u>
        <a (click)="redirect('proyectos')">Contribuciones</a>
    </u>
    <u>
        <a (click)="redirect('proyectos')">Contacto</a>
    </u>
</nav> -->
<nav>
    <ul>
        <li>
            <a (click)="redirect('')">Inicio</a>
        </li>
        <li>
            <a (click)="redirect('proyectos')">Proyectos</a>
        </li>
        <li>
            <a (click)="redirect('habilidades')">Habilidades</a>
        </li>
        <li>
            <a (click)="redirect('experiencia')">Experiencia</a>
        </li>
        <li>
            <a (click)="redirect('educacion')">Educación</a>
        </li>
        <li>
            <a (click)="redirect('contribuciones')">Contribuciones</a>
        </li>
        <li>
            <a (click)="redirect('contacto')">Contacto</a>
        </li>
    </ul>
</nav>
<!-- <div class="container">
    <div class="container-button">
        <button class="button" (click)="redirect('')">Inicio</button>
    </div>
    <div class="container-button">
        <button class="button" (click)="redirect('')">Proyectos</button>
    </div>
    <div class="container-button">
        <button class="button" (click)="redirect('')">Experiencia</button>
    </div>
    <div class="container-button">
        <button class="button" (click)="redirect('')">Educación</button>
    </div>
    <div class="container-button">
        <button class="button" (click)="redirect('')">Habilidades</button>
    </div>
    <div class="container-button">
        <button class="button" (click)="redirect('')">Contribuciones</button>
    </div>
    <div class="container-button">
        <button class="button" (click)="redirect('')">Contacto</button>
    </div>
</div> -->

<!-- 
<div class="container">
    <div class="container-button" *ngFor="let button of buttons; let i = index">
      <button class="button" 
              [class.active]="button.isActive"
              (mouseover)="onButtonHover(i)" 
              (mouseout)="onButtonHover(i)">
        {{ button.isActive ? '(' : '' }}{{ button.text }}{{ button.isActive ? ')' : '' }}
      </button>
    </div>
  </div>


   -->